<div style="padding-right: 20px; padding-left: 20px;" class="section section-gray">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card card-profile">
        <div class="card-avatar">
          <img class="img" src="{{this.thumbnail}}"/>
        </div>
        <div class="card-content container" style="padding-left: 0; padding-right: 0;">
          <h3 class="card-title">{{this.name}}</h3>
          <a href="#" class="btn btn-just-icon btn-warning btn-simple">
            {{{this.rating}}}
          </a>
          <p style="font-size: 14px; color: #999999; font-weight: 400; margin-bottom: 20px; width: 60%; margin-right: auto; margin-left: auto;" class="card-title">{{this.channelDescription}}</p>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <iframe width="460" height="215" src="https://www.youtube.com/embed/xo2B67vz4HA" frameborder="0"
                      allowfullscreen></iframe>
              {{> cards/card_form}}
            </div>
            <div class="col-md-6 col-sm-12">
              <h3 style="margin-top: 0; font-weight: 500">Reviews</h3>
              {{#each this.reviews}}
                {{> cards/reviewCardOnChannel}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>e