<form class="form" method="" action="">
  <div class="card-content">
    <div class="input-group">
      <span class="input-group-addon">
      <i class="material-icons">subtitles</i>
      </span>
      <input type="text" class="form-control" placeholder="Review Title:">
    </div>
    <div class="input-group">
      <span class="input-group-addon">
      <i class="material-icons">star_half</i>
      </span>
      <input type="number" class="form-control" placeholder="Channel Score: 1-5 Stars">
    </div>
    <div class="input-group">
      <span class="input-group-addon">
      <i class="material-icons">comment</i>
      </span>
      <textarea class="form-control" placeholder="Write some nice stuff..." rows="5"></textarea>
    </div>
  </div>
  <a href="#" class="btn btn-danger btn-default"><i class="material-icons">add </i>Review</a>
</form>