<div class="row">
  <div class="description">
    <h4 class="info-title">{{this.title}}</h4>
    <h6 class="info-title">{{this.name}}</h6>
    <span class="btn btn-warning btn-simple">
      {{{this.rating}}}
    </span>
    <p>{{this.messageBody}}</p>
  </div>
</div>